{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-8-point-grid",
    "stylelint-config-prettier"
  ],
  "plugins": ["stylelint-color-format"],
  "rules": {
    "at-rule-no-unknown": null,
    "at-rule-disallowed-list": [
      ["import"],
      {
        "severity": "error",
        "message": "Use @use and @forward instead."
      }
    ],
    "at-rule-no-vendor-prefix": true,
    "max-nesting-depth": 3,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-max-compound-selectors": 4,
    "selector-no-qualifying-type": [true, { "ignore": ["attribute", "class"] }],
    "selector-no-vendor-prefix": true,
    "selector-type-no-unknown": [true, { "ignore": ["custom-elements"] }],
    "value-keyword-case": [
      "lower",
      { "ignoreFunctions": ["mat-color"], "ignoreKeywords": ["/[A][0-9]{3}/"] }
    ],
    "value-no-vendor-prefix": true,
    "plugin/8-point-grid": {
      "base": 8,
      "allowlist": ["-4px", "4px", "12px"]
    },
    "color-named": "never",
    "color-function-notation": "modern",
    "color-format/format": {
      "format": "hsla"
    },
    "scss/at-import-no-partial-leading-underscore": true,
    "scss/at-rule-no-unknown": true,
    "scss/dollar-variable-first-in-block": [
      true,
      {
        "ignore": ["comments", "imports"]
      }
    ],
    "scss/selector-no-redundant-nesting-selector": true
  }
}
